/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 32px 32px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 32px 32px);
}

.Sheet-bl
{
	clip: rect(32px 32px auto auto);
}

.Sheet-br
{
	clip: rect(32px auto auto 32px);
}

.Sheet-tc
{
	clip: rect(auto auto 32px auto);
}

.Sheet-bc
{
	clip: rect(32px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 32px);
}

.Sheet-cl
{
	clip: rect(auto 32px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 863px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 408px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.Block-bl
{
	clip: rect(7px 7px auto auto);
}

.Block-br
{
	clip: rect(7px auto auto 7px);
}

.Block-tc
{
	clip: rect(auto auto 7px auto);
}

.Block-bc
{
	clip: rect(7px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 7px);
}

.Block-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 884px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, BlockContent */

/* begin Box, Post */
.Post-tl
{
	clip: rect(auto 7px 7px auto);
}

.Post-tr
{
	clip: rect(auto auto 7px 7px);
}

.Post-bl
{
	clip: rect(7px 7px auto auto);
}

.Post-br
{
	clip: rect(7px auto auto 7px);
}

.Post-tc
{
	clip: rect(auto auto 7px auto);
}

.Post-bc
{
	clip: rect(7px auto auto auto);
}

.Post-cr
{
	clip: rect(auto auto auto 7px);
}

.Post-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Post */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 405px);
}
/* end Button */

